[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vimfiles/bundle/delimitMate"]
	path = vimfiles/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vimfiles/bundle/supertab"]
	path = vimfiles/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vimfiles/bundle/vim-snipmate"]
	path = vimfiles/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vimfiles/bundle/tlib_vim"]
	path = vimfiles/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vimfiles/bundle/vim-easymotion"]
	path = vimfiles/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/vim-sensible"]
	path = vimfiles/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vimfiles/bundle/vim-snippets"]
	path = vimfiles/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vimfiles/bundle/vim-toolbar-icons-silk"]
	path = vimfiles/bundle/vim-toolbar-icons-silk
	url = https://github.com/istepura/vim-toolbar-icons-silk.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/tcomment_vim"]
	path = vimfiles/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "vimfiles/bundle/vim-css-color"]
	path = vimfiles/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color/
[submodule "vimfiles/bundle/molokai"]
	path = vimfiles/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vimfiles/bundle/undotree"]
	path = vimfiles/bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vimfiles/bundle/minibufexpl.vim"]
	path = vimfiles/bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "vimfiles/bundle/vim-addon-mw-utils"]
	path = vimfiles/bundle/vim-addon-mw-utils
	url = https://github.com/vim-scripts/vim-addon-mw-utils.git
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vimfiles/bundle/vim-move"]
	path = vimfiles/bundle/vim-move
	url = https://github.com/matze/vim-move.git
[submodule "vimfiles/bundle/vim-sparkup"]
	path = vimfiles/bundle/vim-sparkup
	url = https://github.com/tristen/vim-sparkup
[submodule "vimfiles/bundle/vim-dispatch"]
	path = vimfiles/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vimfiles/bundle/vim-gitgutter"]
	path = vimfiles/bundle/vim-gitgutter
	url = https://github.com/jaxbot/vim-gitgutter.git
